<h1>Welcome to our world of authentication</h1>

<h3>Already a user?</h3>
<a href='/login'>Login as existing user</a>

<h3>If it's your first time around: </h3>
<a href='/signup'>Signup a new user</a>